@import './variable.less';

@font-face {
    font-family: "ds-digii";
    src: url('./fonts/DS-DIGII.TTF');
}

:global {
    body {
        margin: 0;
        padding: 0;
        background-color: #282c34 !important;
        color: @white;
    }
}