
.network {
    display: flex;
    height: 100%;
    :global {
        .network-info {
            width: 20%;
        }
        .network-chart {
            flex: 1;
            height: 100%;
        }
    }
}