@import '../../../../style/variable.less';

.map {
    :global {
        position:relative;
        .switch-btn{
            display: flex;
            span{
                display: inline-block;
                margin: 0 10px;
                cursor: pointer;
                .btn{
                    padding: 5px;
                }
                .activeBtn{
                    color: @activeColor;
                }
            }
        }
        .dateSelect{
            position: absolute;
            right: 25px;
            top: 0;
            z-index: 99;

        }
    }
}